h1, h2, h3 {
  margin: 0;
}

:root {
  --primary-text: #202020;
  --primary-text-accent: rgb(10, 157, 255);
  /* --primary-text-accent: #b86200; */
  --secondary-text: #515151;
}

html {
  color: var(--primary-text);
  font-family: 'Red Hat Text', sans-serif;
  font-size: 12pt;

  /* background: url(assets/background.png); */
  background-color: whitesmoke;
  height: 100%;
}

@media screen and (max-width:500px){
  html{
    font-size: 8pt;
  }  
}

body {
  margin-top: 3em;
}


h1 {
  font-size: 4em;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.content-wrapper {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.content {
  max-width: 50em;
}

.section {
  width: 100%;
  /* border-bottom: 1px solid #202020; */
  padding: 0.5em;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.links-list {
  /* justify-content: space-around; */
}

.links-list > div {
  /* margin: 20px; */
  /* font-size: 0em; */
}

.title {
  justify-content: space-between;
  align-items: baseline;
  /* font-family: 'Julius Sans One', sans-serif; */
}

.title-name {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 250%;
}

.fill {
  flex: 1;
}

.logo {
  height: 3em;
  color: black;
  padding-right: 1em;
}

.places-list > li {
  display: inline;
  margin: 1em;
}

.strike {
  text-decoration: line-through;
  text-decoration-color: var(--strike-color);
  text-decoration-style: wavy;
}

.bold {
  font-weight: bold;
}

.section-header {
  border-bottom: 1px solid grey;
  text-align: left;
  font-style: italic;
}

.history-list {
  text-align: left;
  font-weight: lighter;
}

.history-section {
  display: flex;
  flex-direction: row;
}

.history-icon {
  font-size: 2em;
  margin: 20px;
}

.current {
  font-style: italic;
  font-weight: 400;
}

.past {
  font-style: normal;
  font-weight: 500;
}

.history-time {
  width: 4em;
  text-align: right;
  margin-top: 1em;
  margin-right: 1em;
}

.history-item {
  margin: 0.5em 0.5em 0.5em 0;
  padding-left: 0.5em;
  text-decoration: none;
  border-width: 0 0 0 4px;
  border-style: solid;
  border-image: var(--gradient);
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.history-item > div {
  margin: 0.5em 0 0.5em 0;
}

.history-company {
  font-weight: bold;
}

.history-city {
  font-style: italic;
}

.history-desc {
  color: var(--secondary-text);
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--primary-text);
  transition: color .2s;
  cursor: pointer;
}

a:hover {
  color: var(--primary-text-accent);
}

#header, #footer {
  display: flex;
  justify-content: flex-end;

  padding: 1em;
}

/* .navbar-item {
  display: inline;
} */

#header .navbar-link {
  padding: 1em;
}

/* #footer .navbar-link{
  font-size: 1.5em;
  padding: .5em;
} */

.contact {
  border: 2px solid currentColor;
}
