:root {
  --background: #e7e7e7;

  --primary: #3d91ff;
  --primaryDark: #3268ff;
}

body {
  margin: 0px;
  font-family: sans-serif;
  font-size: 12pt;
  background-color: var(--background);
}


#header {
  font-size: 120%;
  display: flex;
  justify-content: center;
}

#header * {
  display: inline;
  vertical-align: middle;
}

#navbar li {
  display: inline-block;
  margin-right: 2em;
}

#navbar li i {
  margin-right: .5em;
  vertical-align: text-top;
}

#navbar .navbar-item {
  text-decoration: none;
  color: var(--primary);
  border-bottom: .2em solid transparent;
  transition: border-bottom .2s;

  padding: .2em;
}

#navbar .navbar-item:hover{
  color: var(--primaryDark);
  border-bottom: .2em solid var(--primaryDark);
}

#navbar #logo {
  width: 3em;
  height: 3em;
}

/**
 * CONTENT STYLING
 */

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  background: white;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  width: 90%;
  max-width: 50em;
}