:root {
  --primary-background: white;
  --secondary-background: #efefef; 
  --tertiary-background: rgb(197, 197, 197);
}


#header {
  background: var(--primary-background);
  padding: 1em;
  border-bottom: 1px solid var(--tertiary-background);
}